.slider{
	display: flex;
	width: 100%;
	gap: 8px;
	align-items: center;
}

.arrow{
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.slider.dark .arrow{
	background-color: #23272f;
	color: #f6f7f9;
}

.slider.light .arrow{
	background-color: white;
	color: black;
}
